#root{
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & > header{
         padding: 0 var(--space-sm);
    }
    
    & > main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    & > main:has(custom-loading){
        flex: 1
    }

    & > footer{
        margin-top: var(--space-lg);
    }
}
