body{
    display: grid;
    grid-template-columns: minmax(100px, 150px) 1fr;
}

main, aside{
    padding: var(--space-md);
}

aside{
    border-right: var(--border-md) solid var(--color-container-background);

    & li{
        margin-bottom: var(--space-sm);
    }
}

details{
    & *{
        margin-bottom: var(--space-sm);
    }

    & > summary{
        font-weight: var(--font-weight-bold);
    }

    & > h2, & > h3{
        font-weight: var(--font-weight-semiBold);
    }

    ul{
        margin-left: var(--space-xl);
        padding: var(--space-sm);
        list-style: disc;
    }
}