html,
body {
    height: 100%;
    margin: 0;
}

body{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

#root{
    box-sizing: border-box;
    padding: var(--space-ssm) var(--space-xxl);
    height: 100%;
    background-color: var(--color-white);
}