/* primary button */
.button{
    border: none;
    border-radius: var(--radius-xxs);
    background-color: var(--color-primary);
    transition: background-color var(--duration-s);

    &:hover{
        background-color: var(--color-active);
        cursor: pointer;
    }

    &:active{
        background-color: var(--color-active-darker);
        cursor: pointer;
    }
}

.primary-button{
    color: var(--color-white);
    padding: var(--space-sm);
}

.secondary-button{
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    padding: var(--space-sm) var(--space-md);

    &:hover{
        color: var(--color-white);
    }

    &:active{
        color: var(--color-white);
    }
}
